<!DOCTYPE html>
<html>
<head>
  <title>History</title>
</head>
<body>
  <h1>History</h1>
  <ul>
    <li><a href="/history/songs?userId=USER_ID">Song History</a></li>
    <li><a href="/history/podcasts?userId=USER_ID">Podcast History</a></li>
  </ul>
</body>
</html>
